/* NAVBAR */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: ivory;
}

.header {
    width: 100%;
    background-color: rgb(50,185,229);
    
    
    
}

.header nav {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 20%;
    font-size: 1.2rem;
    padding-top: 3%;
    background-color: rgb(50,185,229)
    
}



#lrg {
    margin-right: .4rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 50%
    
}

#sml {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%
}

.flexnav {
    display: flex;
    align-items: center;
    
}

.space-right {
    margin-right: -8rem;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    word-spacing: 2rem;
    

}

.space-right div {
    margin-left: 3rem;
    

}

/* BODY */
.phone {
    min-width: 40%;
    max-width: 400px;
    margin-right: 30px;
}


.content {
    grid-area: main;
    padding-left: 5%;
    background-color: rgb(50,185,229);
    width: 30%;
    max-width: 130%;
}

.morecont {
    height: 9rem;
    transform: skew(0deg);
    background: white;
    height: 20rem;
    transform: skewy(-1.7deg);
    background-color:white;
    position: relative;
    top: -16rem;
    z-index: 2;
    
    
    
    
}
.sidebar {
    padding-top: 5%;
    background-color: rgb(50,185,229);
}

.hrbarstuff {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    bottom: 26rem;
    left: -3rem;
    background-color: white;
    
    
    
}

.hrbarstuff div {
    display: flex;
    height: 10rem;
    padding-left: 3rem;
    
    
    
}

form {
    text-align: left;
    padding-top: 2rem;
}

.btn {
    width: 16rem;
    height: 4rem;
    background-color: rgb(0,116,154);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
}



.footer {
    grid-area: ft;
    background-color: rgb(50,185,229);
}

.trck h2 {
    font-size: 2rem;
    width: 15rem;
    color: rgb(16, 137, 177);

}

.mng h2 {
    font-size: 2rem;
    width: 15rem;
    color: rgb(16, 137, 177);

}

.syn h2 {
    font-size: 2rem;
    width: 15rem;
    color: rgb(16, 137, 177);

}

.trck span {
    font-size: 1.3rem;
    width: 15rem;

}

.mng span {
    font-size: 1.3rem;
    width: 15rem;
    

}

.syn span {
    font-size: 1.3rem;
    width: 15rem;

}

.trck {
    display: flexbox;
    flex-direction: column;
    width: 20rem;
    
    border-right: 1px solid rgb(57,192,231);
}

.mng {
    display: flexbox;
    flex-direction: column;
    width: 20rem;
    
    
}

.syn {
    display: flexbox;
    flex-direction: column;
    width: 20rem;
    border-left: 1px solid rgb(57,192,231);
    
    
}

.page2 {
    border-top: 1px solid rgb(57,192,231);
    position: relative;
    bottom:  26rem;
    z-index: 4;
    background-color: rgb(246,249,249);
    height: 30rem;

}

.grey {
    background-color: rgb(246,249,249);
}

.wrkfeat {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    margin: 1rem;
    color: rgb(57,192,231);
}

.wrkfeat h1 {
    margin: .5rem;
    font-size: 3rem;
}

.wrkfeat h1:nth-child(1) {
    font-weight: lighter;
}

.hrrules {
    width: 5rem;
    color: rgb(57,192,231);
}

.thatdiv {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding: 0 20%;
}


.thatdiv > #current::after {
    display: block;
    content: "";
    position: absolute;
    height: 5rem;
    top: 420px;
    bottom: -30px;
    width: 2px;
    margin-left: 67px;
    background-color: #5BBA68;
}

.thatdiv img:nth-child(2) {
    width: 8.5rem;
    margin-left: 11rem;
    margin-right: 10rem;
}

.perform {
    width: 100%;
    padding-left: 10%;
}

.perform > * {
    z-index: 20;
}

.perform h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(101, 186, 92);
    margin-top: 5.5rem;
}

.wrdpc {
    position: relative;
    top: -5rem;
    left: 25rem;
    width: 60%;
}



.anotherline {
    position: relative;
    bottom: 5.5rem;
    border-style: solid;
    border-width: 1.1px;
    border-style: solid;
    border-color: rgb(184, 225, 238);
    background-color: rgb(184, 225, 238);
}

.page3 {
    background-color: rgb(246,249,249);
    position: relative;
    bottom: 28rem;
    height: 62rem;
    width: 100%;
}

.align {
    position: absolute;
    z-index: 7;
    text-align: center;
    top: 50rem;
    width: 100%;
    margin-top: 3.9rem;
    background-color: white;
}

.wrkfeat {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    margin: 1rem;
    margin-top: 2.4rem;
    color: rgb(57,192,231);
}

.wrkfeat h1:nth-child(1) {
    font-weight: lighter;
}

.wrkfeat h1 {
    font-size: 5rem;
    margin: 0.5rem;
}

.thisdiv {
    width: 12rem;
    margin: 0 auto;
    border-color: rgb(57, 192, 231);
}

.pictures {
    display: flex;
    justify-content: center;
}

.pictures img {
    width: 26rem;
    margin-top: 4rem;
}

.pictures img:nth-child(2) {
    margin-left: 3rem;
    margin-right: 3rem;
}

.outerbox {
    display: flex;
    flex-direction: column;
    object-fit: none;
    height: 15rem;
    position: relative;
    top: 35rem;
    background: linear-gradient(90deg, rgb(50, 185, 229) 0%, rgb(76, 166, 226) 35%, rgb(52, 162, 235) 63%, rgb(92, 168, 235) 91%);
}

.almost {
    height: 30rem;
    padding-left: 5%;
    padding-right: 9%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 19rem;
    font-family: Bitter, serif;
    background: linear-gradient(90deg, rgb(50, 185, 229) 0%, rgb(76, 166, 226) 35%, rgb(52, 162, 235) 63%, rgb(92, 168, 235) 91%);
}

#leftbrd {
    align-content: center;
}

.numbs {
    font-size: 8rem;
    color: white;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: "Josefin Slab", serif;
}

.asds {
    color: rgb(31, 100, 121);
    font-family: Ubuntu, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    margin-left: 7rem;
}

.hrzont {
    height: 15rem;
    margin-top: 4rem;
    border-style: solid;
    border-color: rgb(57, 192, 231);
}

.numbs {
    font-size: 8rem;
    color: white;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: "Josefin Slab", serif;
}

#innerbox {
    text-align: center;
    position: relative;
    bottom: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 47rem;
}

footer {
    height: 12rem;
    background-color: rgb(5, 31, 39);
    display: flex;
    justify-content: center;
    position: relative;
    top: 31rem;
}

.football {
    display: flex;
    align-items: center;
}

.flexfoot {
    margin-right: 14rem;
    color: rgb(112, 112, 112);
    font-family: serif;
    font-size: 1.4rem;
}

.spacer-right {
    display: flex;
    margin-left: 20rem;
    font-size: 1.4rem;

}

.spacer-right a:link {
    color: rgb(112, 112, 112);
    margin-right: 1.5rem;
}


